@import '../../styles/global.scss';

.list__item {
	padding: 1.6rem;
	border-bottom: 1px solid $grey;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;

	.list__image {
		margin: 0;
		flex: 1;

		img {
			width: 100%;
			height: auto;
		}
	}

	.list__info {
		width: 50%;
		padding-left: 1rem;
		padding-right: 1rem;

		.list__title {
			margin: 0;
			flex: 2;
			font-size: 1.2rem;
			font-weight: 700;
		}

		.list__size {
			font-size: 1.2rem;
			color: #a7a7a7;
		}
	}

	.list__prices {
		flex: 1;
		text-align: right;

		.list__price {
			font-size: 1.4rem;
			font-weight: 700;
			margin: 0 0 0.5rem;

			&--old {
				color: $grey;
				text-decoration: line-through;
			}

			&--installments {
				color: $grey;
				font-size: 1.2rem;
				font-weight: 400;
			}
		}
	}

}
