@import 'config/breakpoints';
@import 'config/colors';
@import 'config/normalize';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');

*,
:after,
:before {
    box-sizing: border-box;
}

body,
body button,
body input,
html,
html button,
html input {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

body {
    background-color: $light-grey;
    color: $dark;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}

.container {
    width: 100%;
    max-width: $break-large;
    margin: 55px auto 0;
    padding: 1.6rem;
}
